.cardBox {
    width: 65%;
    height: 90%;
    perspective: 1000px;
    font-size: 0.6vw;
    
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    -moz-transition: 1.5s ease;
    -webkit-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
    transition: 1.5s ease;
    box-shadow: 3px 3px #1d363d;
}

.cardFront {
    background-color: #AAD8e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cardBack {
    background-color: #AAD8e6;
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.cardBox:hover .cardInner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

img {
    width: 100%;
    /*border: 1px solid #000000;*/
}

.frontTextContainer {
    /*border: 1px solid red;*/
    width: 100%;
}

.title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 125%;
}

.back {
    margin-top: 5%;
}

.name {
    margin-top: 1.5%;
}

.text {
    margin-left: 2%;
    font-size: 87.5%;
    margin-top: 2%;
}

.backTextContainer {
    /*border: 1px solid red;*/
    width: 100%;
    line-height: 150%;
}

.line {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid rgb(0, 0, 0);
}

.smaller {
    font-size: 85%;
}
